@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
  color: #14142b;
  transition: background-color 0.5s ease;
  flex-direction: column;
}

/* Dark theme */
body.dark-mode {
  background-color: #14142b;
  color: #fff; /* Change text color to white in dark mode */
}

body.dark-mode #notfound a {
  background-color: #fff;
  color: #14142b;
}

body.dark-mode #notfound a:hover {
  background-color: #7cb0df;
  color: #fff;
}

body.dark-mode .sun-icon,
body.dark-mode .moon-icon {
  filter: invert(1); /* Invert the colors of the icons in dark mode */
}

/* Dark theme styles for h1, h2, and p */
body.dark-mode #notfound h1,
body.dark-mode #notfound h2,
body.dark-mode #notfound p {
  color: #fff; /* Change text color to white in dark mode */
}

.container {
  text-align: center;
}

#notfound {
  max-width: 520px;
}

#notfound h1 {
  font-size: 86px;
  font-weight: 700;
}

#notfound h2 {
  font-size: 21px;
  font-weight: 400;
}

#notfound p {
  font-size: 16px;
  color: #14142b;
}

#notfound a {
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #fff; /* Change text color to white for contrast */
  background-color: #14142b; /* Change background color to #14142b */
  padding: 10px 40px;
  margin-top: 20px;
  transition: 0.2s;
}

#notfound a:hover {
  background-color: #7cb0df; /* Change hover background color to white */
  color: #fff; /* Change hover text color to #14142b */
}

.emoji-gif {
  width: 100px; /* Adjust as needed */
  height: auto; /* This will maintain the aspect ratio */
  display: block; /* This will allow us to use margin auto for centering */
  margin: 0 auto; /* This centers the image horizontally */
}

@media only screen and (min-width: 1080px) {
  .theme-switch-wrapper {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure true centering */
  }

  .sun-icon, .moon-icon {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
  }

  .sun-icon {
    left: -70px; /* Adjust as needed */
  }

  .moon-icon {
    right: -70px; /* Adjust as needed */
  }
}
